In [1]:
import pandas as pd
import numpy as np
import import.pyplot as plt

# Предобработка
## user_data

In [2]:
df_users = pd.read_csv("data/user_data.csv")
df_users.head()

,name,planning,watched,completed,days_watched,dropped,episodes_watched,mean_score,on_hold,plan_to_watch,rewatched,total_entries,watching,birthday,gender,joined,last_online,location,favorites,genre_count
0,-0,"[{'mal_id': 39764, 'title': 'Detective Conan M...","[{'title': '1', 'mal_id': 29978, 'score': 6, '...",467,181.6,0,11160,7.74,0,7,0,477,3,NaN,NaN,2017-09-19T00:00:00+00:00,2020-09-25 11:03:22+00:00,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 153, 'Adventure': 162, 'Cars': 5, '..."
1,-Droid-,"[{'mal_id': 6408, 'title': '""Bungaku Shoujo"" M...","[{'title': '11eyes', 'mal_id': 6682, 'score': ...",1125,263.3,4,16195,7.80,4,1131,53,2271,7,1930-01-07T00:00:00+00:00,Male,2013-09-07T00:00:00+00:00,2020-09-17 21:07:00+00:00,MA,"{'anime': [{'mal_id': 237, 'title': 'Koukyoush...","{'Action': 447, 'Adventure': 186, 'Cars': 1, '..."
2,-Hentai,"[{'mal_id': 39783, 'title': '5-toubun no Hanay...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",887,270.4,60,16189,7.36,9,88,8,1070,26,1991-11-05T00:00:00+00:00,Male,2014-05-19T00:00:00+00:00,2020-09-21 19:11:28+00:00,UAE - Sharjah,"{'anime': [{'mal_id': 31933, 'title': 'JoJo no...","{'Action': 418, 'Adventure': 210, 'Cars': 1, '..."
3,-Jens,"[{'mal_id': 31646, 'title': '3-gatsu no Lion'}...","[{'title': '07-Ghost', 'mal_id': 5525, 'score'...",102,17.8,0,1093,6.81,8,403,0,518,5,NaN,NaN,2020-06-11T00:00:00+00:00,2020-09-24 14:06:00+00:00,Fish tank. I'm stuck.,"{'anime': [{'mal_id': 205, 'title': 'Samurai C...","{'Action': 36, 'Adventure': 9, 'Cars': 0, 'Com..."
4,-Kano,"[{'mal_id': 34777, 'title': '91 Days: Toki no ...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",193,65.2,25,3961,6.92,32,70,2,325,5,NaN,NaN,2015-08-12T00:00:00+00:00,2020-09-26 01:29:32+00:00,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 84, 'Adventure': 25, 'Cars': 0, 'Co..."

In [3]:
df_users.info()
df_users.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2195 entries, 0 to 2194
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2195 non-null   object
 1   planning          2195 non-null   object
 2   watched           2195 non-null   object
 3   completed         2195 non-null   int64
 4   days_watched      2195 non-null   float64
 5   dropped           2195 non-null   int64
 6   episodes_watched  2195 non-null   int64
 7   mean_score        2195 non-null   float64
 8   on_hold           2195 non-null   int64
 9   plan_to_watch     2195 non-null   int64
 10  rewatched         2195 non-null   int64
 11  total_entries     2195 non-null   int64
 12  watching          2195 non-null   int64
 13  birthday          1261 non-null   object
 14  gender            1751 non-null   object
 15  joined            2195 non-null   object
 16  last_online       2195 non-null   object
 17  location          1474 non-null   object
 18  favorites         2195 non-null   object
 19  genre_count       2195 non-null   object
dtypes: float64(2), int64(8), object(10)
memory usage: 343.1+ KB

,completed,days_watched,dropped,episodes_watched,mean_score,on_hold,plan_to_watch,rewatched,total_entries,watching
count,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000,2195.000000
mean,433.814123,122.496674,28.907517,7719.424146,7.066588,19.630979,192.500683,20.524829,694.082005,19.226879
std,701.161822,131.530904,208.860362,9390.248439,1.515720,49.139325,445.081841,90.231621,995.627147,57.267595
min,3.000000,0.400000,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000
25%,157.000000,51.500000,1.000000,3153.500000,6.615000,1.500000,34.000000,0.000000,280.500000,4.000000
50%,273.000000,90.700000,8.000000,5518.000000,7.260000,7.000000,94.000000,1.000000,472.000000,8.000000
75%,490.500000,148.550000,24.000000,9233.000000,7.890000,19.000000,212.000000,13.000000,796.500000,17.000000
max,14025.000000,1928.400000,9012.000000,151474.000000,10.000000,1400.000000,12517.000000,2515.000000,17118.000000,1747.000000

In [4]:
df_users["gender"].unique()

array([nan, 'Male', 'Female', 'Non-Binary'], dtype=object)

In [5]:
df_users["gender"] = df_users["gender"].astype("category")
df_users["gender"]

0          NaN
1         Male
2         Male
3          NaN
4          NaN
         ...
2190      Male
2191      Male
2192      Male
2193    Female
2194       NaN
Name: gender, Length: 2195, dtype: category
Categories (3, object): ['Female', 'Male', 'Non-Binary']

In [6]:
df_users["birthday"] = df_users["birthday"].astype("datetime64[ns]")
df_users["joined"] = df_users["birthday"].astype("datetime64[ns]")
df_users["last_online"] = df_users["birthday"].astype("datetime64[ns]")
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2195 entries, 0 to 2194
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2195 non-null   object
 1   planning          2195 non-null   object
 2   watched           2195 non-null   object
 3   completed         2195 non-null   int64
 4   days_watched      2195 non-null   float64
 5   dropped           2195 non-null   int64
 6   episodes_watched  2195 non-null   int64
 7   mean_score        2195 non-null   float64
 8   on_hold           2195 non-null   int64
 9   plan_to_watch     2195 non-null   int64
 10  rewatched         2195 non-null   int64
 11  total_entries     2195 non-null   int64
 12  watching          2195 non-null   int64
 13  birthday          1261 non-null   datetime64[ns]
 14  gender            1751 non-null   category
 15  joined            1261 non-null   datetime64[ns]
 16  last_online       1261 non-null   datetime64[ns]
 17  location          1474 non-null   object
 18  favorites         2195 non-null   object
 19  genre_count       2195 non-null   object
dtypes: category(1), datetime64[ns](3), float64(2), int64(8), object(6)
memory usage: 328.2+ KB

In [7]:
for column in df_users:
    print(column, df_users[column].isna().sum())

name 0
planning 0
watched 0
completed 0
days_watched 0
dropped 0
episodes_watched 0
mean_score 0
on_hold 0
plan_to_watch 0
rewatched 0
total_entries 0
watching 0
birthday 934
gender 444
joined 934
last_online 934
location 721
favorites 0
genre_count 0

In [8]:
import pickle, json

with open("data/MAL_genres.pickle", "rb") as file:
    genres = pickle.load(file)

In [9]:
import ast

def parse_python_literal(value):
    if not value.startswith("[") and not value.startswith("{"):
        raise ValueError("Expected list or dict")
    return ast.literal_eval(value)

In [10]:
df_users["watched"] = df_users.watched.apply(parse_python_literal)
df_users["planning"] = df_users.planning.apply(parse_python_literal)
df_users["favorites"] = df_users.favorites.apply(parse_python_literal)
df_users["genre_count"] = df_users.genre_count.apply(parse_python_literal)

In [11]:
df_users.head()

,name,planning,watched,completed,days_watched,dropped,episodes_watched,mean_score,on_hold,plan_to_watch,rewatched,total_entries,watching,birthday,gender,joined,last_online,location,favorites,genre_count
0,-0,"[{'mal_id': 39764, 'title': 'Detective Conan M...","[{'title': '1', 'mal_id': 29978, 'score': 6, '...",467,181.6,0,11160,7.74,0,7,0,477,3,NaT,NaN,NaT,NaT,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 153, 'Adventure': 162, 'Cars': 5, '..."
1,-Droid-,"[{'mal_id': 6408, 'title': '""Bungaku Shoujo"" M...","[{'title': '11eyes', 'mal_id': 6682, 'score': ...",1125,263.3,4,16195,7.80,4,1131,53,2271,7,1930-01-07,Male,1930-01-07,1930-01-07,MA,"{'anime': [{'mal_id': 237, 'title': 'Koukyoush...","{'Action': 447, 'Adventure': 186, 'Cars': 1, '..."
2,-Hentai,"[{'mal_id': 39783, 'title': '5-toubun no Hanay...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",887,270.4,60,16189,7.36,9,88,8,1070,26,1991-11-05,Male,1991-11-05,1991-11-05,UAE - Sharjah,"{'anime': [{'mal_id': 31933, 'title': 'JoJo no...","{'Action': 418, 'Adventure': 210, 'Cars': 1, '..."
3,-Jens,"[{'mal_id': 31646, 'title': '3-gatsu no Lion'}...","[{'title': '07-Ghost', 'mal_id': 5525, 'score'...",102,17.8,0,1093,6.81,8,403,0,518,5,NaT,NaN,NaT,NaT,Fish tank. I'm stuck.,"{'anime': [{'mal_id': 205, 'title': 'Samurai C...","{'Action': 36, 'Adventure': 9, 'Cars': 0, 'Com..."
4,-Kano,"[{'mal_id': 34777, 'title': '91 Days: Toki no ...","[{'title': '3-gatsu no Lion', 'mal_id': 31646,...",193,65.2,25,3961,6.92,32,70,2,325,5,NaT,NaN,NaT,NaT,NaN,"{'anime': [], 'characters': [], 'people': []}","{'Action': 84, 'Adventure': 25, 'Cars': 0, 'Co..."

In [12]:
df_users.to_pickle("data/users.pickle")

## anime_data

In [13]:
df_anime = pd.read_csv("data/anime_data.csv")
df_anime.head()

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03T00:00:00+00:00,1999-04-24T00:00:00+00:00,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04T00:00:00+00:00,2001-06-27T00:00:00+00:00,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV
2,1000,1978-03-14T00:00:00+00:00,1979-02-13T00:00:00+00:00,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,7.71,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV
3,10003,2008-01-01T00:00:00+00:00,NaN,2 min per ep,15,"['Comedy', 'Dementia', 'Horror', 'Seinen']",6848,NaN,10146.0,R+ - Mild Nudity,5.05,1181,Original,Finished Airing,[],"In these jokey short films, many of them crude...",Kago Shintarou Anime Sakuhin Shuu,NaN,OVA
4,10005,2007-03-31T00:00:00+00:00,NaN,1 hr 35 min,1,"['Action', 'Adventure', 'Mecha', 'Sci-Fi']",10765,NaN,6121.0,G - All Ages,6.43,228,Unknown,Finished Airing,"[{'mal_id': 455, 'name': 'Palm Studio'}]",This theatrical version based on the manga by ...,Tetsujin 28-gou: Hakuchuu no Zangetsu,NaN,Movie

In [14]:
df_anime.info()
df_anime.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11335 entries, 0 to 11334
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mal_id         11335 non-null  int64
 1   aired_from     11330 non-null  object
 2   aired_to       5967 non-null   object
 3   duration       11335 non-null  object
 4   episodes       11335 non-null  int64
 5   genres         11335 non-null  object
 6   popularity     11335 non-null  int64
 7   premiered      3455 non-null   object
 8   rank           10053 non-null  float64
 9   rating         11335 non-null  object
 10  score          11335 non-null  float64
 11  scored_by      11335 non-null  int64
 12  source         11335 non-null  object
 13  status         11335 non-null  object
 14  studios        11335 non-null  object
 15  synopsis       11098 non-null  object
 16  title          11335 non-null  object
 17  title_english  5394 non-null   object
 18  type           11335 non-null  object
dtypes: float64(2), int64(4), object(13)
memory usage: 1.6+ MB

,mal_id,episodes,popularity,rank,score,scored_by
count,11335.000000,11335.000000,11335.000000,10053.000000,11335.000000,1.133500e+04
mean,16507.488928,10.719894,6026.067314,5222.290162,6.546585,2.307938e+04
std,14050.968996,37.196154,3650.599146,3081.816589,0.890211,7.620780e+04
min,1.000000,1.000000,1.000000,1.000000,1.860000,1.000000e+02
25%,3310.500000,1.000000,2916.000000,2544.000000,5.960000,5.470000e+02
50%,10906.000000,2.000000,5860.000000,5142.000000,6.570000,2.102000e+03
75%,31613.500000,12.000000,8924.500000,7905.000000,7.180000,1.188650e+04
max,42723.000000,1818.000000,14659.000000,10621.000000,9.220000,1.524129e+06

In [15]:
print(df_anime["source"].unique())
print(df_anime["rating"].unique())
print(df_anime["type"].unique())
print(df_anime["status"].unique())

['Original' 'Manga' 'Unknown' 'Light novel' 'Visual novel' 'Game' 'Novel'
 '4-koma manga' 'Other' 'Music' 'Book' 'Web manga' 'Radio' 'Card game'
 'Picture book' 'Digital manga']
['R - 17+ (violence & profanity)' 'PG-13 - Teens 13 or older'
 'R+ - Mild Nudity' 'G - All Ages' 'PG - Children' 'Rx - Hentai' 'None']
['TV' 'OVA' 'Movie' 'Special' 'ONA' 'Music']
['Finished Airing' 'Currently Airing']

In [16]:
df_anime["source"] = df_anime["source"].astype('category')
df_anime["rating"] = df_anime["rating"].astype('category')
df_anime["type"] = df_anime["type"].astype('category')
df_anime["status"] = df_anime["status"].astype('category')
df_anime["aired_from"] = df_anime["aired_from"].astype("datetime64[ns]")
df_anime["aired_to"] = df_anime["aired_to"].astype("datetime64[ns]")
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11335 entries, 0 to 11334
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mal_id         11335 non-null  int64
 1   aired_from     11330 non-null  datetime64[ns]
 2   aired_to       5967 non-null   datetime64[ns]
 3   duration       11335 non-null  object
 4   episodes       11335 non-null  int64
 5   genres         11335 non-null  object
 6   popularity     11335 non-null  int64
 7   premiered      3455 non-null   object
 8   rank           10053 non-null  float64
 9   rating         11335 non-null  category
 10  score          11335 non-null  float64
 11  scored_by      11335 non-null  int64
 12  source         11335 non-null  category
 13  status         11335 non-null  category
 14  studios        11335 non-null  object
 15  synopsis       11098 non-null  object
 16  title          11335 non-null  object
 17  title_english  5394 non-null   object
 18  type           11335 non-null  category
dtypes: category(4), datetime64[ns](2), float64(2), int64(4), object(7)
memory usage: 1.3+ MB

In [17]:
df_anime.head()

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
0,1,1998-04-03,1999-04-24,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),8.79,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV
1,100,2001-04-04,2001-06-27,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,7.21,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV
2,1000,1978-03-14,1979-02-13,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,7.71,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV
3,10003,2008-01-01,NaT,2 min per ep,15,"['Comedy', 'Dementia', 'Horror', 'Seinen']",6848,NaN,10146.0,R+ - Mild Nudity,5.05,1181,Original,Finished Airing,[],"In these jokey short films, many of them crude...",Kago Shintarou Anime Sakuhin Shuu,NaN,OVA
4,10005,2007-03-31,NaT,1 hr 35 min,1,"['Action', 'Adventure', 'Mecha', 'Sci-Fi']",10765,NaN,6121.0,G - All Ages,6.43,228,Unknown,Finished Airing,"[{'mal_id': 455, 'name': 'Palm Studio'}]",This theatrical version based on the manga by ...,Tetsujin 28-gou: Hakuchuu no Zangetsu,NaN,Movie

In [18]:
df_anime["aired_from"].isnull().sum()

5

In [19]:
df_anime[df_anime["status"] == "Currently Airing"]

,mal_id,aired_from,aired_to,duration,episodes,genres,popularity,premiered,rank,rating,score,scored_by,source,status,studios,synopsis,title,title_english,type
8526,40496,2020-07-04,2020-09-26,23 min per ep,13,"['Action', 'Demons', 'Magic', 'Fantasy', 'Scho...",620,Summer 2020,1702.0,R - 17+ (violence & profanity),7.46,47957,Light novel,Currently Airing,"[{'mal_id': 300, 'name': 'Silver Link.'}]","After 2000 years have passed, the ruthless dem...",Maou Gakuin no Futekigousha: Shijou Saikyou no...,The Misfit of Demon King Academy,TV

In [20]:
df_anime["duration"].unique()

array(['24 min per ep', '23 min per ep', '25 min per ep', '2 min per ep',
       '1 hr 35 min', '23 min', '14 min per ep', '24 min', '30 min',
       '30 min per ep', '28 min per ep', '27 min', '4 min', '1 hr 38 min',
       '22 min per ep', '38 min', '10 min', '1 hr 34 min', '2 min',
       '40 min', '6 min', '31 min', '49 min', '1 hr 48 min', '52 min',
       '1 min per ep', '26 min per ep', '10 min per ep', '45 min per ep',
       '20 min per ep', '13 min per ep', '1 hr 18 min', '1 hr 27 min',
       '8 min per ep', '8 min', '5 min', '2 hr 30 min', '3 min per ep',
       '15 min per ep', '12 min per ep', '25 min', '4 min per ep',
       '18 min', '5 min per ep', '1 hr 16 min', '3 min', '1 hr 40 min',
       '29 min per ep', '43 min per ep', '12 min', '1 hr 45 min',
       '1 hr 58 min', '48 min', '1 hr 59 min', '33 min', '1 hr 25 min',
       '1 hr 20 min', '19 min per ep', '47 min', '2 hr 1 min',
       '9 min per ep', '7 min', '30 sec', '44 min', '7 min per ep',
       '2 hr', '30 sec per ep', '21 min per ep', '45 min', '35 min',
       '46 min', '1 hr 10 min', '54 min', '17 min per ep', '15 min',
       '50 min per ep', '1 hr 22 min', '1 hr', '50 min', '26 min',
       '1 hr 3 min', '13 min', '32 min per ep', '1 min', '6 min per ep',
       '20 min', '19 min', '21 min', '1 hr 42 min', '1 hr 36 min',
       '49 min per ep', '1 hr 4 min', '29 min', '14 min', '1 hr 50 min',
       '1 hr 32 min', '1 hr 24 min', '1 hr 33 min', '1 hr 30 min',
       '11 min per ep', '1 hr 39 min', '32 sec', '32 min', '1 hr 5 min',
       '28 min', '34 min per ep', '37 min per ep', '1 hr 11 min',
       '43 min', '40 min per ep', '1 hr 55 min', '11 min', '2 hr 20 min',
       '2 hr 15 min', '1 hr 11 min per ep', '59 min', '1 hr 26 min',
       '1 hr 14 min', '37 min', '1 hr 31 min', '1 hr 15 min',
       '1 hr 21 min', '47 min per ep', '57 min', '2 hr 16 min',
       '46 min per ep', '36 min per ep', '52 min per ep', '27 min per ep',
       '1 hr 29 min', '1 hr 28 min', '1 hr 43 min', '51 min',
       '16 min per ep', '16 min', '2 hr 10 min', '1 hr 49 min',
       '1 hr 56 min', '55 min', '22 min', '1 hr 8 min', '1 hr 13 min',
       '9 min', '57 min per ep', '1 hr 57 min', '41 min', '22 sec per ep',
       '17 min', '58 min', '39 min per ep', '1 hr 47 min',
       '53 sec per ep', '2 hr 19 min', '51 min per ep', '53 min',
       '2 hr 8 min', '1 hr 46 min', '1 hr 37 min', '1 hr 19 min',
       '56 min', '41 min per ep', '58 min per ep', '1 hr 41 min',
       '38 sec', '29 sec', '35 sec', '35 min per ep', '1 hr 6 min',
       '33 sec per ep', '54 min per ep', '1 hr 23 min', '38 min per ep',
       '1 hr 5 min per ep', '39 min', '1 hr 51 min', '2 hr 36 min',
       '1 hr 9 min', '42 min', '1 hr 7 min', '1 hr per ep', '1 hr 44 min',
       '55 min per ep', '40 sec per ep', '2 hr 11 min', '34 min',
       '2 hr 6 min', '2 hr 17 min', '1 hr 52 min', '1 hr 15 min per ep',
       '1 hr 12 min', '24 sec per ep', '31 min per ep', '1 hr 2 min',
       '1 hr 17 min per ep', '1 hr 34 min per ep', '1 hr 17 min',
       '31 sec per ep', '1 hr 7 min per ep', '2 hr 5 min',
       '29 sec per ep', '33 min per ep', '53 min per ep', '1 hr 53 min',
       '18 min per ep', '1 hr 36 min per ep', '31 sec', '41 sec',
       '1 hr 35 min per ep', '1 hr 30 min per ep', '1 hr 54 min',
       '42 min per ep', '48 min per ep', 'Unknown', '1 hr 1 min',
       '2 hr 41 min', '2 hr 40 min', '15 sec', '39 sec per ep',
       '49 sec per ep', '17 sec', '54 sec', '2 hr 21 min', '2 hr 14 min',
       '16 sec', '2 hr 33 min', '27 sec', '42 sec', '14 sec',
       '26 sec per ep', '1 hr 52 min per ep', '36 sec', '37 sec',
       '15 sec per ep', '58 sec per ep', '36 min', '2 hr 32 min',
       '2 hr 43 min', '2 hr 2 min', '45 sec', '33 sec', '34 sec per ep',
       '32 sec per ep', '55 sec', '57 sec', '40 sec', '10 sec',
       '37 sec per ep', '46 sec', '12 sec', '7 sec', '49 sec', '39 sec',
       '52 sec', '51 sec per ep', '10 sec per ep', '3 sec', '25 sec',
       '20 sec per ep', '42 sec per ep', '18 sec per ep', '2 hr 12 min',
       '41 sec per ep', '44 sec', '56 sec per ep', '44 sec per ep',
       '50 sec per ep', '58 sec', '51 sec', '28 sec', '21 sec', '23 sec',
       '22 sec', '21 sec per ep', '12 sec per ep', '38 sec per ep',
       '45 sec per ep', '50 sec', '14 sec per ep', '1 hr 9 min per ep',
       '36 sec per ep', '25 sec per ep', '55 sec per ep', '2 hr 4 min',
       '44 min per ep', '1 hr 2 min per ep', '2 hr 3 min', '2 hr 42 min',
       '2 hr 7 min'], dtype=object)

In [21]:
df_anime[df_anime.duration == "Unknown"].duration.count()

19

In [22]:
df_anime.drop(df_anime[df_anime.duration == "Unknown"].index, inplace=True)
df_anime.rename(columns={
    "duration": "duration_str"
}, inplace=True)

In [23]:
df_anime.drop(df_anime[df_anime.status == "Currently Airing"].index, inplace=True)

In [24]:
df_anime.drop(df_anime[df_anime.aired_from.isnull()].index, inplace=True)

In [25]:
def calc_duration_seconds(duration_string: str):
    end = False
    seconds = 0
    while not end:
        end = True
        hr_i = duration_string.find("hr")
        if hr_i > -1:
            seconds += int(duration_string[:hr_i - 1]) * 60 * 60
            duration_string = duration_string[hr_i + 2:].strip()
            end = False

        min_i = duration_string.find("min")
        if min_i > -1:
            seconds += int(duration_string[:min_i - 1]) * 60
            duration_string = duration_string[min_i + 3:].strip()
            end = False

        sec_i = duration_string.find("sec")
        if sec_i > -1:
            seconds += int(duration_string[:sec_i - 1])
            duration_string = duration_string[sec_i + 3:].strip()
            end = False
    return seconds

In [26]:
df_anime["duration_seconds"] = df_anime["duration_str"].map(calc_duration_seconds)

In [27]:
df_anime["total_duration_seconds"] = df_anime.apply(lambda row: row["duration_seconds"] * row["episodes"], axis=1)
df_anime["total_duration_seconds"]

0        37440
1        17940
2        63000
3         1800
4         5700
         ...
11330     5040
11331     3300
11332     5400
11333    58500
11334     1800
Name: total_duration_seconds, Length: 11310, dtype: int64

In [28]:
df_anime.info()
df_anime.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11310 entries, 0 to 11334
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   mal_id                  11310 non-null  int64
 1   aired_from              11310 non-null  datetime64[ns]
 2   aired_to                5961 non-null   datetime64[ns]
 3   duration_str            11310 non-null  object
 4   episodes                11310 non-null  int64
 5   genres                  11310 non-null  object
 6   popularity              11310 non-null  int64
 7   premiered               3454 non-null   object
 8   rank                    10028 non-null  float64
 9   rating                  11310 non-null  category
 10  score                   11310 non-null  float64
 11  scored_by               11310 non-null  int64
 12  source                  11310 non-null  category
 13  status                  11310 non-null  category
 14  studios                 11310 non-null  object
 15  synopsis                11078 non-null  object
 16  title                   11310 non-null  object
 17  title_english           5389 non-null   object
 18  type                    11310 non-null  category
 19  duration_seconds        11310 non-null  int64
 20  total_duration_seconds  11310 non-null  int64
dtypes: category(4), datetime64[ns](2), float64(2), int64(6), object(7)
memory usage: 1.6+ MB

,mal_id,episodes,popularity,rank,score,scored_by,duration_seconds,total_duration_seconds
count,11310.000000,11310.000000,11310.000000,10028.000000,11310.000000,1.131000e+04,11310.000000,1.131000e+04
mean,16466.517418,10.733599,6021.750044,5220.719884,6.546849,2.312519e+04,1613.794253,1.351772e+04
std,14035.744487,37.234546,3649.996543,3081.977162,0.890448,7.628449e+04,1532.563745,3.879805e+04
min,1.000000,1.000000,1.000000,1.000000,1.860000,1.000000e+02,7.000000,7.000000e+00
25%,3302.250000,1.000000,2912.250000,2542.000000,5.960000,5.510000e+02,540.000000,1.380000e+03
50%,10850.000000,2.000000,5854.000000,5139.500000,6.570000,2.112500e+03,1440.000000,3.600000e+03
75%,31571.750000,12.000000,8918.500000,7899.500000,7.180000,1.195000e+04,1740.000000,1.656000e+04
max,42723.000000,1818.000000,14659.000000,10621.000000,9.220000,1.524129e+06,9780.000000,2.206500e+06

In [29]:
df_anime.head()

,mal_id,aired_from,aired_to,duration_str,episodes,genres,popularity,premiered,rank,rating,...,scored_by,source,status,studios,synopsis,title,title_english,type,duration_seconds,total_duration_seconds
0,1,1998-04-03,1999-04-24,24 min per ep,26,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",38,Spring 1998,27.0,R - 17+ (violence & profanity),...,544987,Original,Finished Airing,"[{'mal_id': 14, 'name': 'Sunrise'}]","In the year 2071, humanity has colonized sever...",Cowboy Bebop,Cowboy Bebop,TV,1440,37440
1,100,2001-04-04,2001-06-27,23 min per ep,13,"['Comedy', 'Drama', 'Fantasy', 'Magic', 'Roman...",2075,Spring 2001,2703.0,PG-13 - Teens 13 or older,...,23787,Manga,Finished Airing,"[{'mal_id': 34, 'name': 'Hal Film Maker'}]","Due to her father's remarriage, robust 16-year...",Shin Shirayuki-hime Densetsu Prétear,Prétear: The New Legend of Snow White,TV,1380,17940
2,1000,1978-03-14,1979-02-13,25 min per ep,42,"['Action', 'Sci-Fi', 'Adventure', 'Space', 'Dr...",2980,Spring 1978,1008.0,PG-13 - Teens 13 or older,...,7059,Manga,Finished Airing,"[{'mal_id': 18, 'name': 'Toei Animation'}]",It is 2977 AD and mankind has become stagnant....,Uchuu Kaizoku Captain Herlock,Space Pirate Captain Harlock,TV,1500,63000
3,10003,2008-01-01,NaT,2 min per ep,15,"['Comedy', 'Dementia', 'Horror', 'Seinen']",6848,NaN,10146.0,R+ - Mild Nudity,...,1181,Original,Finished Airing,[],"In these jokey short films, many of them crude...",Kago Shintarou Anime Sakuhin Shuu,NaN,OVA,120,1800
4,10005,2007-03-31,NaT,1 hr 35 min,1,"['Action', 'Adventure', 'Mecha', 'Sci-Fi']",10765,NaN,6121.0,G - All Ages,...,228,Unknown,Finished Airing,"[{'mal_id': 455, 'name': 'Palm Studio'}]",This theatrical version based on the manga by ...,Tetsujin 28-gou: Hakuchuu no Zangetsu,NaN,Movie,5700,5700

In [30]:
df_anime["genres"] = df_anime.genres.apply(parse_python_literal)
df_anime["studios"] = df_anime.studios.apply(parse_python_literal)

In [31]:
df_anime.to_pickle("data/anime.pickle")